/*
    Personal website
    Colin Firth
    ================
    by Victoria Kudenko
    June 2014
*/

/* General */

body {
    background: url("images/blue-vintage-background.jpg");
    width: 1440px;
    height: 900px;
    color: #0094a9;
    font-size: 14px;
    font-family: Papyrus, fantasy, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

/* Typography */

/* Header */

/* My Photo */



/* Main Content */

/* Footer */