/*
    Personal website
    Colin Firth
    ================
    by Victoria Kudenko
    June 2014
*/

/* General */

* {
    margin: 0;
    padding: 0;
}

article, section, aside, nav, header, footer, figure, figcaption {
    display: block;
}

body {
    background: #fff;
    color: #000;
    font-size: 14px;
    font-family: Papyrus, fantasy, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

/* Typography */

h2, h3, h4, h5 {
    color: #fe1d0b;
}

/* Header */

#lead {
    background: #000;
    color: #fff;
}

#title {
    width: 1097px;
    margin: 0 auto;
}

nav a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    padding: 0 10px;
}

nav a:link {
    color: #ffffff;
}

nav a:visited {
    color: #ffffff;
}

nav a:hover, nav a:active {
    color: #fe1d0b;
}

a#home {
    color: #fe1d0b;
}

h1, nav {
    display: inline-block;
}

h1 {
    padding: 10px 60px 10px 30px;
    font-size: 34px;
    font-weight: bold;
}

li {
    list-style-type: none;
    display: inline;
}

/* Photo */

#photo {
    background: linear-gradient(#a31d1d, #e66665);
}

#colin {
    display: block;
    width: 500px;
    height: 375px;
    margin: 0 auto;
    padding: 20px 0;
}

/* Main Content */

/* Footer */