/*
    Personal website
    Colin Firth
    ================
    by Victoria Kudenko
    June 2014
*/

/* General */

* {
    margin: 0;
    padding: 0;
}

body {
    background: #ede0d4 url("images/bg-tile.gif") top left repeat;
    color: #0094a9;
    font-size: 14px;
    font-family: Papyrus, fantasy, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

.main {
    width: 800px;
    margin: 0 auto;
}



/* Typography */

/* Header */

/* My Photo */

#my-photo {
    background: #619ed6;
    margin: 0 auto;
}

#colin {
    display: block;
    width: 400px;
    height: 533px;
    margin: 0 auto;
}

/* Main Content */

/* Footer */